/* reseteo basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* Formato del Header - Seccion INDEX */
.header{
    height: 4rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem 0rem 1rem ;
    position: fixed;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(67,172,173,1) 44%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(67,172,173,1) 44%, rgba(0,212,255,1) 100%);
    background: linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(67,172,173,1) 44%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
.ul{    
    display: flex;
    width: 30rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.a{
    color: white !important; 
    font-weight: 600; 
    transition: all 1s;
    text-decoration: none;
}
.a:hover {
    color: black !important;
    font-size: 1.1rem;
}
.a--select{
    color:brown !important;
}
.logo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%; 
}
.imagenDePortada{
    height: 21rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../images/portada.jpg);
    display: flex;
    justify-content:center;
    margin-top: 3rem;
}
.nofound{
    background-image: url(../images/404.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.h1nofound{
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;

}
.imagenCaja{
    color: rgb(3, 255, 221);
    padding: 0rem 2rem 0rem 5rem;
    margin: 10rem;
}
.main{
    margin-top: 14rem;
    margin-bottom: 60rem;
}
/* Parrafo Index */
.sectionParrafo{
    height: 30rem;
    margin: 3rem 2rem 0rem 2rem;
    padding: auto;
    display: flex;
    flex-direction: column;
}
.divParrafo{
    margin: 2rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
}
.h3Parrafo{
    margin: 1rem 0rem 1rem 0rem;
}
.contactenos{
    display: flex;
}
.aParrafo{
    margin: 0.5rem;
}
header h1{
    color: #22577A; 
}
.h2Color{
    color: #22577A;
}
.h2{
    color: #22577A; 
    animation-name: textoEnMovimiento;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 8s;
    animation-delay: 2s;
    margin-top: 2rem;  
}
@keyframes textoEnMovimiento{
    0%{
        transform: rotate(0deg);
        transform: scale(120%);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0deg);
        transform: scale(120%);
        color: red;
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
        transform: scale(120%);
    }
}
/* Formato del texto */
.parrafoIndex{
    color: #80ED99;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: left;
    line-height: 1.2;
}
span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.35rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
}
.parrafoServicio{
    font-style: italic;
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    line-height: 1.2rem;
}
/* Texto link de Publica Ya del Index */
.publicita{
    color: #38A3A5;
    text-decoration: none;
    margin-bottom: 2rem;
}
/*Por ahora se lo dedico al del index, despues veo*/
h3{
    color: #57CC99;
}
.enColumnar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    background-color: #E7E0C9;
}
/* Estilo de la tabla */
.encabezado{
    color:white;
    background-color: #464660;
}
.referencia{
    color:white;
    background-color: #368B85;
}
.informacion{
    background-color: #B4B897;
}

/* Formulario de contacto */
legend{
    font-size: 1rem;
}
#blanco{
    color: white;
}
#color{
    color:rgb(218, 218, 218);
    background-color: rgb(0, 87, 128);
    border: rgb(19, 106, 143) solid 0.2rem;
    border-radius: .3rem;
}
/* Formato de parrafo de servicio */
.formatoBox{
    margin: 0.5rem 0.4rem 1rem 1rem;
    padding-left: 12px;
}
.formatoVideo{
    margin: 3rem;   
}
.lineaTitulo{
    border-bottom: 0.1rem solid #22577A;
}
/* Seccion - Precio */
.mainPrecio{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.sectionPrecio{
    margin: 1rem;
    padding: .5rem;
}
.h2Precio{
    display: inline-block;
    margin: 1rem 0rem 1rem 0rem;
    font-style: italic;
    font-weight: bold;
    font-size:xx-large; 
    text-decoration:double;
}  
section div span{
    color: yellowgreen;
}
section div p{
    color:rgb(182, 182, 182);
} 
.transfor :hover{
    transform:scale(110%, 115%);
}
.contactoIndex{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* Footer con el span */
.footer{
    height: 3rem;
    border-radius: 2%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(298deg, rgba(2,0,36,1) 0%, rgba(0,10,10,1) 4%, rgba(78,136,148,1) 100%);
    background: -webkit-linear-gradient(298deg, rgba(2,0,36,1) 0%, rgba(0,10,10,1) 4%, rgba(78,136,148,1) 100%);
    background: linear-gradient(298deg, rgba(2,0,36,1) 0%, rgba(0,10,10,1) 4%, rgba(78,136,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#4e8894",GradientType=1);
}
.copyRight{
    font-style: italic;
    font-family:  'Allison', cursive;
    font-weight: bold;
    font-size: 1.4rem;
    float: left;
}   
.anchoPrede{
    height: 60rem;
}
.ancho{
    width: 30rem;
    margin-left: 24rem;
    height: 10rem;
    margin-bottom: 18rem;
}

@media only screen and (max-width: 920px){
    .contactoIndex{
        margin-top: 15rem ;
    }
    .sectionParrafo{
        margin-bottom: 0rem;
    }
    .ancho{
        width: 30rem;
        margin-left: 8rem;
        height: 10rem;
        margin-bottom: 10rem;
        margin-top: 0rem; 
    }
}
@media only screen and (max-width: 720px){
    .ancho{
        width: 20rem;
        margin-left: .5rem;
        height: 10rem;
        margin-bottom: 10rem;
        margin-top: 0rem;
    }
    .sectionParrafo{
        margin-bottom: 15rem;
    }
}
.margen{
    margin-left: 5rem;
}
.prueba1{
    display: block;
}
/* Secciones del menu Responsive con GRID */
.aviso{
    display: grid;
    grid-template-areas: 
    "imagen titulo modo"
    "imagen descripcion descripcion"
    "imagen descripcion descripcion"
    "ubicacion ubicacion contacto";
    grid-template-columns: 1fr 2fr 2fr ;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    grid-row-gap: 0rem;
    grid-column-gap: 0rem ;
    padding-top: 1rem;
    margin: 1rem 1rem;
    padding: 0.5rem .5rem;
    background-color:rgb(1, 75, 75);
    /* justify-content: center;
    align-content: center; */
    /* height: 22rem;
    width: 60rem; */
}
.imagen{
    grid-area: imagen;
    justify-self:center;
    align-self: center;
    padding: 1rem;
}
.tamano{
    width: 10rem;
} 
.titulo{
    grid-area: titulo;
    align-self: center;
}
.modo{
    grid-area: modo;
    align-self: center;
}
.descripcion{
    grid-area: descripcion;
}
.ubicacion{
    grid-area: ubicacion;
    align-self: center;
}
.contacto{
    grid-area: contacto;
    align-self: center;
}
#titulo{
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
}
@media only screen and (max-width: 917px){
    .aviso{
        display: grid;
        grid-template-areas: 
        "imagen"
        "titulo"
        "modo"
        "descripcion"
        "ubicacion"
        "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: tomato;
    }
    .imagenPortada{
        height: 70%;
        width: 70%;
    }
}
@media only screen and (min-width: 1120px){
    .tamano{
        width: 15rem;
    }
}
@media only screen and (min-width: 2000px){
    .tamano{
        width: 18rem;
    }
}